/* Curso CSS estilos aprenderaprogramar.com*/
html{

	margin:0;
}

h1,h2,h3{
   
	color:green;
}
 


body {
	font-family: Arial, Helvetica, sans-serif;
    margin: 2mm 2mm 2mm 3mm; 
     }

table {     
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 11px;   
margin: -2px;  
width: 900px; 
text-align: right;  
border-collapse: collapse; }

th {
font-size: 3px;     
font-weight: normal;  
padding: 8px;  
background: #b9c9fe;
border-top: 4px solid #aabcfe;
border-left: 4px solid #aabcfe;  
border-right: 4px solid #aabcfe;

border-bottom: 1px solid #fff;
color: #039; }

td { 
font-size: 6px;  
padding: 8px;    
background: #e8edff;   
border-bottom: 1px solid #fff;

color: #669;  
border-top: 1px solid transparent; }

tr:hover td {
	margin: -2px;  
background: #d0dafd; 
color: #339; }


.separacion{
padding-bottom: -12px;
}



.center{
	text-align: center;
}

.right{
	text-align: right;
}
.left{
	text-align: left;
}


.cab
{
	font-size: 11px;
}